<div class="container">

      <h2>Responses</h2>
    
      <div class="response-section">
    
        <mat-form-field appearance="fill" class="input-field">
    
          <mat-label></mat-label>
    
          <input matInput [(ngModel)]="response" class="input-box">
    
        </mat-form-field>
    
        <button mat-raised-button color="primary" class="b1" (click)="AddSuggestion(response)">Submit</button>
    
        <div *ngFor="let x of forum.responses" class="response-card">
    
          <mat-card>
    
            <mat-card-content class="response-card-content">
    
              <div class="icon-wrapper">
    
                <mat-icon>perm_identity</mat-icon>
    
              </div>
    
              <div class="response-text">{{x}}</div>
    
            </mat-card-content>
    
          </mat-card>
    
        </div>
    
      </div>
    
    </div>