<img class="good" src="https://www.amway.com/medias/aba-00-vis-hro-l-en-US-xxx-d-01.jpg?context=bWFzdGVyfGltYWdlc3w3NzMwMXxpbWFnZS9qcGVnfGltYWdlcy9oYmYvaDYyLzk0NDE0MjY3Njc5MDIuanBnfDJhOWRkMWNmYjY5YmM1NjM3MTUxN2YzMzg2M2ViZjhhNjkxM2VjZGRiNGI2YzM4YTllMGJlNTJiMzY1NzY4ODg">

    <div class="container">
      <div class="image">
        <img src="https://www.nicepng.com/png/detail/46-461860_herbalife-logo-png.png" />
      </div>
      <div class="text">
        <p>FitPro Inc Provides an Online Solution about Dietary plans, Nutritional Values,Fitness Suggestions and Solutions. They want their solution to be 
            A web based solution as well as accessible on Mobile Apps.This Particular Solution We focus only on Web Based Solution A Single page App need to be built with multiple Flows<br>
            phone number : 8897574996</p>
      </div>
    </div>
  






<h1>
    <span STYLE="font-size:200%">ENPOWERING PEOPLE TO LIVE THEIR BEST</span>

</h1>

<app-details-box *ngFor="let x of contactlist" [contact]="x"></app-details-box>