<div class="details">
    
    <p>Measure:{{details1.Measure}}</p>
    <p>Grams:{{ details1.Grams }}</p>
    <p>Calories:{{ details1.Calories }}</p>
    <p>Protein:{{ details1.Protein }}</p>
    <p>Fats:{{ details1.Fat }}</p>
    <p>Fiber:{{ details1.Fiber }}</p>
    <p>Carbs:{{ details1.Carbs }}</p> 
</div>

        <!-- {{contact.city}}, <br/>
        {{contact.pin}}, <br/>
        {{contact.phoneno}}  -->
       
    <!--         <p>Grams:{{ details.Grams }}</p>
            <p>Calories:{{ details.Calories }}</p>
            <p>Protein:{{ details.Protein }}</p>
            <p>Fats:{{ details.Fat }}</p>
             <p>Saturated Fats{{ details.Sat.Fat }}</p> 
            <p>Fiber:{{ details.Fiber }}</p>
            <p>Carbs:{{ details.Carbs }}</p> -->
    <!--         </div>   -->
    <!-- </mat-card> -->
     <!-- <p>{{ details.Measure }}</p> -->
    <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{<details></details>.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost/{{details.image}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{details.Measure}},
            {{details.Grams}},
            {{details.Calories}},
            {{details.Protein}},
            {{details.Fat}},
            {{details.Fiber}},
            {{details.Carbs}}
          </p>
        </mat-card-content>
     
      </mat-card> -->
    <!-- <p>
        {{details.Measure}},
        {{details.Grams}},
        {{details.Calories}},
        {{details.Protein}},
        {{details.Fat}},
        {{details.Fiber}},
        {{details.Carbs}}
     </p> -->
     <!-- <router-outlet></router-outlet> -->
     