<!--  <div class="hd">
    <div class="tp">
    <div class="slt">
    <p style="font-weight: bolder;">Select Catogory:</p>
     <select [(ngModel)]="selected" class="bx"> 
    <option *ngFor="let x of types">{{x}}</option> -->
    <!-- </select> -->
     
    <!-- </div>
<div class="container">
    <app-product *ngFor="let x of names2 " [Products]="x"></app-product>
</div>   -->
<!-- <div class="hd">
    <div class="tp">
    <div class="slt">
    <p style="font-weight: bolder;">Select Catogory:</p> -->
    <!-- <select [(ngModel)]="selected" class="bx"> -->
    <!-- <option *ngFor="let x of prodlist">{{x}}</option> -->
    <!-- </select> -->
    <!-- </div>
    <div class="slide">
    <p style="font-weight: bolder;">Select Price Range:</p>
    <mat-slider min="100" max="5000">
        <input [(value)] = "min_v" [(ngModel)]="min_v" matSliderStartThumb>
        <input [(value)] = "max_v" [(ngModel)]="max_v" matSliderEndThumb>
    </mat-slider>
    </div>
    <p style="font-weight: bolder;">{{min_v | currency:'INR'}} to {{max_v | currency:'INR'}}</p>
    
</div>
<div class="container">
    <app-product *ngFor="let x of prodlist  | filterprice : min_v:max_v " [Products]]="x"></app-product>
</div>
</div> --> 

<!-- <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{Products.name}}</mat-card-title>
      <mat-card-subtitle>{{Products.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://localhost/{{Products.image}}" class="image"> -->
    <!-- <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content> -->
    <!-- <p class="price">{{Products.Calories | currency:'INR'}}</p>
    <mat-card-actions>
      <a routerLink="/{{product.id}}">Details</a>
      <button mat-button>Buy</button>
    <button mat-button>Add To Cart</button> -->
     <!-- </mat-card-actions> -->





  <!--   <h1>Please provide your valuable feedback </h1>
  
      <p>please provide your experience using this website to increase productivity</p>
  
      <div class="fb">
  
          <textarea name="fb"  cols="30" rows="10"
  
          [(ngModel)]="com" [ngModelOptions]="{standalone: true}"></textarea>
  
          <button (click)="onPost()">submit</button>
  
      </div>  
  
      <p *ngFor="let x of forums">{{x.comment}}</p>
  
  
  
   -->
  
  